{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body_class %}welcome{% endblock %}

{% block body %}
<div id="main" class="valign-wrapper center-align">
    <div id="card" class="row z-depth-5">
        <div id="logo">
            LOGO
        </div>
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div class="row" style="margin: 0px;">
                <div class="input-field col s12">
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
                    <label for="username">Username</label>
                </div>
            </div>
            <div class="row" style="margin: 0px;">
                <div class="input-field col s12">
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}
            <button type="submit" class="waves-effect waves-light btn">Login</button> <br /> <br />
            <a href="{{ asset('/register') }}">Create new account</a>
            <br /> <br />
        </form>
    </div>
</div>
{% endblock %}
