<header>
    <nav class="top-nav sidenav-trigger full hide-on-large-only">
        <a href="#" data-target="nav-mobile" class="top-nav sidenav-trigger full hide-on-large-only"><i class="material-icons">menu</i></a>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center">Logo</a>
        </div>
    </nav>
    <ul id="nav-mobile" class="sidenav sidenav-fixed">
        <li>
            <div class="user-view center-align">
                <div class="background">
                    <img src="{{ asset('build/images/nav-bg.jpg')  }}">
                </div>
                <img class="circle" src="{{ asset(avatar) }}" style="margin: 0px auto;">
                <span class="white-text name">{{ username }}</span>
                <span class="white-text email">{{ level }}</span>
            </div></li>
        <li><a href="#"><i class="material-icons">file_download</i>Download game</a></li>
        <li class="divider"></li>
        <li><span class="badge">{{ trades }}</span><a href="#trading">Trading</a></li>
        <li><a href="#achievements">Achievements</a></li>
        <li class="divider"></li>
        <li><a href="#settings">My Settings</a></li>
        <li><span class="badge">{{ items }}</span><a href="#items">My Items</a></li>
        <li class="divider"></li>
        <li><a href="{{ asset('/logout') }}">Logout</a></li>
    </ul>
</header>