{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <div id="header" style="border-bottom: none;">
            <div class="container">
                <div class="row">
                    <div class="col s12 m10 offset-m1">
                        <h2 class="header">{{ title }}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-left: -300px; border-bottom: 1px solid rgba(0,0,0,0.14);"></div>
        <div class="container">
            <div class="row">
                <div class="col s12 m8 offset-m1 xl7 offset-xl1">
                    <div class="row section">
                        <div class="col s12">
                            <span style="color: rgba(167, 167, 167, 0.87);">Your Items</span>
                            <ul class="collection">
                                {% set count = 0 %}
                                {% for item in myInventory %}
                                    {% for item_l in items_list %}
                                        {% if (item) == (item_l.getId()) %}
                                            <li class="collection-item" id="sending_{{ count }}" onClick="sendingItemState('sending_{{ count }}')" item="{{ item }}"><div><img src="{{ ItemServices.getImage(item) }}" style="vertical-align: bottom; height: 25px; width: 25px; margin-right: 5px;"> {{ ItemServices.getName(item) }}</div></li>
                                        {% endif %}
                                        {% set count = count + 1 %}
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col s12">
                            <span style="color: rgba(167, 167, 167, 0.87);">{{ usernameTo }} Items</span>
                            <ul class="collection">
                                {% for item in hisInventory %}
                                    {% for item_l in items_list %}
                                        {% if (item) == (item_l.getId()) %}
                                            <li class="collection-item" id="receiving_{{ count }}" onClick="receivingItemState('receiving_{{ count }}')" item="{{ item }}"><div><img src="{{ ItemServices.getImage(item) }}" style="vertical-align: bottom; height: 25px; width: 25px; margin-right: 5px;"> {{ ItemServices.getName(item) }}</div></li>
                                        {% endif %}
                                        {% set count = count + 1 %}
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                        <ul style="text-align: center;">
                            <br />
                            <a class="waves-effect waves-light btn" onClick="sendTradeOffer()">Send</a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div style="visibility: hidden" id="idTo">{{ idTo }}</div>
    <script>
        let sending = [];
        let receiving = [];

        function sendingItemState(caller){
            if(jQuery.inArray(caller, sending) > -1){
                sending.splice(sending.indexOf(caller), 1);
                $("#"+caller).css('background-color', '#ffffff');
            } else {
                sending.push(caller);
                $("#"+caller).css('background-color', 'green');
            }
        }
        function receivingItemState(caller){
            if(jQuery.inArray(caller, receiving) !== -1){
                receiving.splice(receiving.indexOf(caller), 1);
                $("#"+caller).css('background-color', '#ffffff');
            } else {
                receiving.push(caller);
                $("#"+caller).css('background-color', 'green');
            }
        }

        function sendTradeOffer(){
            let send = [];
            sending.forEach(function(element) {
                send.push($("#"+element).attr("item"));
            });
            let receive = [];
            receiving.forEach(function(element) {
                receive.push($("#"+element).attr("item"));
            });
            location.href="/send-trade?to="+$('#idTo').html()+"&my="+send+"&their="+receive;
        }
    </script>
{% endblock %}